/* Write your CSS here */
.main-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.random-container {
  background-color: #ffffff;

  width: 400px;
  height: 300px;
  border-radius: 20px;
  border-color: #ffffff;
  border-style: solid;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0b69ff;
  font-size: 24px;
  font-family: 'Roboto';
}
.random-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-size: 10px;
  font-family: 'Roboto';
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 30px;
}
.text {
  color: #333333;
  font-family: 'Roboto';
}
.text-count {
  color: #0b69ff;
  font-size: 20px;
  font-weight: bold;
}
